{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<ul>
  {{ if eq .Section "pages" }}
    {{ range .Pages }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
      {{ with .Params.tags }}
      <span class="tags">
        [{{ range . }}<a href="/tags/{{ . | urlize }}/">({{ . }})</a>{{ end }}]
      </span>
      {{ end }}
    </li>
    {{ end }}
  {{ else }}
    {{ $pages := .Pages }}
    {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
    {{ range (where (where $pages "Section" "!=" "") "Section" "!=" "pages") }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </li>
    {{ end }}
  {{ end }}
</ul>

{{ partial "footer.html" . }}
