{{ partial "header.html" . }}
<div class="article-meta">
  <h1><span class="title">{{ .Title | markdownify }}</span></h1>
  {{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
  {{ if (gt .Params.date 0) }}<h2 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }}
</div>

{{ if eq .Section "pages" }}
{{ $toc := .TableOfContents }}
{{ $hasTOC := and (ge (len $toc) 25) (not (eq $toc "<nav id=\"TableOfContents\"></nav>")) }}
{{ if $hasTOC }}
<div class="content-wrapper with-sidebar">
  <aside class="sidebar">
    <div class="toc">
      <h3>Table of Contents</h3>
      <div class="toc-content">
        {{ .TableOfContents }}
      </div>
    </div>
  </aside>

  <main>
  {{ .Content }}
  </main>
</div>
{{ else }}
<main>
{{ .Content }}
</main>
{{ end }}
{{ else }}
<main>
{{ .Content }}
</main>
{{ end }}

{{ partial "footer.html" . }}